---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import QuestionContainer from "../components/question/QuestionContainer.vue";
import type { contentMap } from "../components/question/interfaces";

const pageIdx = "B";
const pageTitle = `${pageIdx}. 사업체별 화물운송실태 조사`;

const componentMapList: contentMap[] = [
  {
    title: "다음은 귀사의 사업체 현황 및 규모에 관한 설문입니다.",
    name: "companySize",
    question: [
      {
        title: "귀사의 종사자수는 어떻게 되십니까?",
        name: "employeeCount",
        content: {
          type: "text" as const,
          text: "{0}",
          components: [
            {
              name: "",
              type: "input" as const,
              style: {
                width: "20%",
                align: "right",
              },
              header: "총",
              footer: "명",
            },
          ],
        },
      },
      {
        title: "귀사의 컨테이너 운송수단 보유현황은 어떻게 되십니까?",
        name: "containerTransportCount",
        question: [
          {
            title: "① 컨테이너 운송차량",
            showTitleIdx: false,
            name: "containerVehicle",
            content: {
              type: "text" as const,
              text: "{0} {1} {2}",
              components: [
                {
                  name: "total",
                  type: "input" as const,
                  style: {
                    width: "10%",
                    align: "right",
                  },
                  header: "총",
                  footer: "대",
                },
                {
                  name: "direct",
                  type: "input" as const,
                  style: {
                    width: "10%",
                    align: "right",
                  },
                  header: "(직영 ",
                  footer: "대,",
                },
                {
                  name: "consigned",
                  type: "calcValue" as const,
                  header: "위수탁(지입)",
                  footer: "대)",
                  computed: "{total} - {direct}",
                },
              ],
            },
          },
          {
            title: "② 사유화차",
            showTitleIdx: false,
            name: "privateVehicle",
            content: {
              type: "text" as const,
              text: "{0}",
              components: [
                {
                  name: "",
                  type: "input" as const,
                  style: {
                    width: "10%",
                    align: "right",
                  },
                  header: "총",
                  footer: "대",
                },
              ],
            },
          },
        ],
      },
      {
        title: "귀사의 연간 매출액은 어떻게 되십니까?",
        name: "companyAnnualSales",
        content: {
          type: "text" as const,
          text: "{0} {1}",
          components: [
            {
              name: "total",
              type: "input" as const,
              style: {
                width: "15%",
                align: "right",
              },
              header: "총",
              footer: "억원",
            },
            {
              name: "containerInland",
              type: "input" as const,
              style: {
                width: "15%",
                align: "right",
              },
              header: "(컨테이너 내륙운송부분",
              footer: "억원)",
            },
          ],
        },
      },
    ],
  },
  {
    title: "2024년 기준 귀사의 연간 컨테이너 운송량은 어떻게 되십니까?",
    name: "containerVolume",
    question: [
      {
        title: "① 전체",
        showTitleIdx: false,
        name: "total",
        content: {
          type: "text" as const,
          text: "{0}",
          components: [
            {
              name: "",
              type: "input" as const,
              style: {
                width: "15%",
                align: "right",
              },
              header: "총",
              footer: "TEU",
            },
          ],
        },
      },
      {
        title: "② 수단별",
        showTitleIdx: false,
        name: "transportation",
        content: {
          type: "text" as const,
          text: "{0} {1} {2}",
          components: [
            {
              name: "road",
              type: "input" as const,
              style: {
                width: "15%",
                align: "right",
              },
              header: "도로",
              footer: "TEU",
            },
            {
              name: "rail",
              type: "input" as const,
              style: {
                width: "15%",
                align: "right",
              },
              header: "철도",
              footer: "TEU",
            },
            {
              name: "coastal",
              type: "calcValue" as const,
              header: "연안해운",
              footer: "TEU",
              computed: "{total} - {road} - {rail}",
            },
          ],
        },
      },
    ],
  },
  {
    title: "귀사의 컨테이너 화주 고객사는 어떻게 구성되어 있습니까?",
    name: "customerShipperStructure",
    content: {
      type: "table" as const,
      table: {
        rows: [
          {
            cells: [
              {
                content: {
                  text: "구분",
                },
                style: {
                  width: "50%",
                },
                colspan: 2,
              },
              {
                content: {
                  text: "업체수",
                },
                style: {
                  width: "25%",
                },
              },
              {
                content: {
                  text: "이용 운송량 비중",
                },
              },
            ],
            isHeader: true,
          },
          {
            cells: [
              {
                content: {
                  text: "1",
                },
                style: {
                  width: "5%",
                },
              },
              {
                content: {
                  text: "종사자수 9명 이하 규모 기업",
                },
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "under9Count",
                      type: "input" as const,
                      style: {
                        width: "70%",
                        align: "right",
                      },
                      footer: "개",
                    },
                  ],
                },
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "under9Percent",
                      type: "input" as const,
                      style: {
                        width: "60%",
                        align: "right",
                      },
                      footer: "%",
                    },
                  ],
                },
              },
            ],
          },
          {
            cells: [
              {
                content: {
                  text: "2",
                },
              },
              {
                content: {
                  text: "종사자수 10~99명 규모 기업",
                },
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "under100Count",
                      type: "input" as const,
                      style: {
                        width: "70%",
                        align: "right",
                      },
                      footer: "개",
                    },
                  ],
                },
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "under100Percent",
                      type: "input" as const,
                      style: {
                        width: "60%",
                        align: "right",
                      },
                      footer: "%",
                    },
                  ],
                },
              },
            ],
          },
          {
            cells: [
              {
                content: {
                  text: "3",
                },
              },
              {
                content: {
                  text: "종사자수 100명 이상 규모 기업",
                },
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "over100Count",
                      type: "input" as const,
                      style: {
                        width: "70%",
                        align: "right",
                      },
                      footer: "개",
                    },
                  ],
                },
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "over100Percent",
                      type: "calcValue" as const,
                      computed: "100 - {under9Percent} - {under100Percent}",
                      footer: "%",
                    },
                  ],
                },
              },
            ],
          },
          {
            cells: [
              {
                content: {
                  text: "합계",
                },
                colspan: 2,
              },
              {
                content: {
                  text: "{0}",
                  components: [
                    {
                      name: "totalCount",
                      type: "calcValue" as const,
                      computed:
                        "{under9Count} + {under100Count} + {over100Count}",
                      footer: "개",
                    },
                  ],
                },
              },
              {
                content: {
                  text: "100%",
                },
              },
            ],
          },
        ],
      },
    },
  },
];

componentMapList.forEach((componentMap: contentMap, idx) => {
  componentMap.idx = `${pageIdx}${idx + 1}`;
});
---

<Layout pageTitle={pageTitle} prevButtonHref="/a" nextButtonHref="/c">
  <h1>{pageTitle}</h1>

  <form id="surveyForm">
    {
      componentMapList.map((componentMap) => (
        <div class="intro">
          <QuestionContainer client:load contentMap={componentMap} />
        </div>
      ))
    }
  </form>
</Layout>
